<header class="header">
  <div class="header-content">
    <a class="brand" routerLink="/">
      <img
        src="/images/logo/project-horizon-logo.webp"
        alt="Project Horizon logo"
      />
    </a>

    <nav class="nav">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>

      <a class="nav-link" routerLink="/projects" routerLinkActive="active">
        Projects
      </a>

      <a class="nav-link" routerLink="/sessions" routerLinkActive="active">
        Sessions
      </a>
      <a class="nav-link" routerLink="/profile" routerLinkActive="active">
        Profile
      </a>
    </nav>
  </div>
</header>
