<div class="card">
  <form [formGroup]="sessionForm">
    <label>
      Location
      <input type="text" formControlName="location" />
    </label>

    <label>
      Session Start
      <input type="datetime-local" formControlName="startedAt" />
    </label>

    <label>
      Session End
      <input type="datetime-local" formControlName="endedAt" />
    </label>

    <h2>Activities</h2>

    <div formArrayName="phases">
      @for (phase of phases.controls; track $index; let i = $index) {
        <div [formGroupName]="i">
          <h3>{{ phase.get("type")?.value }}</h3>

          <label>
            Start
            <input type="datetime-local" formControlName="startedAt" />
          </label>

          <label>
            End
            <input type="datetime-local" formControlName="endedAt" />
          </label>
          @if (phase.hasError("invalidTimeRange")) {
            <p class="error">End time must be after start time.</p>
          }
        </div>
      }
    </div>

    <div class="button-row">
      <button
        type="submit"
        class="button-primary"
        (click)="saveChanges()"
        [disabled]="sessionForm.invalid"
      >
        Save Changes
      </button>

      <button type="button" class="button-danger">Cancel</button>
    </div>
  </form>
</div>
