@for (project of projects(); track project.id) {
  <article class="project-card">
    <div class="project-card__header">
      <div>
        <h3>{{ project.name }}</h3>
        <p>{{ project.location }}</p>
      </div>

      <span class="project-card__grade">{{ project.grade }}</span>
    </div>
    @for (note of project.notes; track note.id) {
      <div>
        <p class="project-card__notes">{{ note.body }}</p>
        <span>{{ note.date }}</span>
        <button
          class="button-primary"
          (click)="startEditingNote(project.id, note)"
        >
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
        <button class="button-danger" (click)="deleteNote(project.id, note.id)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    }
    @if (editingNoteProjectId !== project.id) {
      <button (click)="startAddingNote(project.id)" class="button-secondary">
        Add Note
      </button>
    } @else {
      <textarea [(ngModel)]="noteText" placeholder="Add a note..."></textarea>

      <button (click)="saveNote(project)">Save</button>
      <button (click)="cancelNote()">Cancel</button>
    }

    <div class="project-card__meta">
      <span>
        <span>{{ project.attempts }} attempts</span>
        <button class="button-primary" (click)="updateAttempts(project.id, 1)">
          +
        </button>
        <button class="button-primary" (click)="updateAttempts(project.id, -1)">
          -
        </button>
      </span>

      <span>{{ project.status }}</span>
    </div>
    <div class="button-row">
      <button class="button-danger" (click)="deleteProject(project.id)">
        Delete Project
      </button>
      <button
        class="button-secondary"
        [routerLink]="['/projects', project.id, 'edit']"
      >
        Edit
      </button>
    </div>
  </article>
}
