@for (project of projects(); track project.id) {
  <article class="card project-card">
    <div class="flex justify-between align-items-start">
      <div class="flex">
        <div class="project-card__header flex-column">
          <h3>{{ project.name }}</h3>
          <p>{{ project.location }}</p>
          <span class="project-badge">
            {{ project.grade }} &middot; {{ project.status }}
          </span>
        </div>
      </div>

      <div class="attempts">
        <span class="attempts__label">Attempts</span>

        <div class="attempts__controls">
          <button
            type="button"
            class="attempts__button"
            aria-label="Decrease attempts"
            (click)="updateAttempts(project.id, -1)"
          >
            −
          </button>

          <span class="attempts__count">{{ project.attempts }}</span>
          <button
            type="button"
            class="attempts__button"
            aria-label="Increase attempts"
            (click)="updateAttempts(project.id, 1)"
          >
            +
          </button>
        </div>
      </div>

      <div class="button-row">
        <button
          class="button-text button-primary"
          [routerLink]="['/projects', project.id, 'edit']"
        >
          <fa-icon [icon]="faEdit"></fa-icon>
          Edit
        </button>

        <button
          class="button-text button-danger"
          (click)="deleteProject(project.id)"
        >
          <fa-icon [icon]="faTrash"></fa-icon>
          Delete
        </button>
      </div>
    </div>

    <button
      (click)="toggleBeta(project.id)"
      class="button-text button-secondary beta-toggle"
    >
      {{ openBetaProjectIds.has(project.id) ? "Hide Beta" : "Show Beta" }}
      <fa-icon
        [icon]="
          openBetaProjectIds.has(project.id) ? faChevronUp : faChevronDown
        "
      ></fa-icon>
    </button>

    @if (openBetaProjectIds.has(project.id)) {
      <div class="beta-log">
        <div class="beta-log__header">
          <span>Beta Log</span>
        </div>
        @for (note of project.notes; track note.id) {
          <div class="beta-log__entry">
            <div class="beta-log__date">
              {{ note.date | date: "MM-dd-yyyy" }}
            </div>

            <p class="beta-log__note">
              {{ note.body }}
            </p>

            <div class="beta-log__actions">
              <button
                class="button-icon button-primary"
                aria-label="Edit note"
                (click)="startEditingNote(project.id, note)"
              >
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>

              <button
                class="button-icon button-danger"
                aria-label="Delete note"
                (click)="deleteNote(project.id, note.id)"
              >
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </div>
        }
        @if (editingNoteProjectId !== project.id) {
          <button
            (click)="startAddingNote(project.id)"
            class="button-secondary button-text"
          >
            <fa-icon [icon]="faPlus"></fa-icon>
            Add Note
          </button>
        } @else {
          <div class="flex">
            <textarea
              [(ngModel)]="noteText"
              placeholder="Add a note..."
            ></textarea>
            <div class="flex flex-column align-items-start">
              <button
                (click)="cancelNote()"
                class="button-icon button-danger"
                aria-label="Cancel Adding Note"
              >
                <fa-icon [icon]="faXmark"></fa-icon>
              </button>
              <button
                (click)="saveNote(project)"
                class="button-icon button-primary"
                aria-label="Save Note"
              >
                <fa-icon [icon]="faCheck"></fa-icon>
              </button>
            </div>
          </div>
        }
      </div>
    }
  </article>
}
